.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-104deg);

  &-icon {
    font-size: 30px;
    color: #999;
    transition: 0.2s;

    &:hover {
      font-size: 35px;
      cursor: pointer;
    }
  }

  .setting-board {
    .set-positions {
      .position-radio {
        input[type="radio"] {
        }
      }
    }
    .set-opacity {
      input[type="range"] {
      }
    }
    .set-speed {
      .speed-selections {
        .speed-radio {
          input[type="radio"] {
          }
        }
      }
    }
    .set-color {
      .color-radio {
      }
    }
    .fix-button {
      input[type="radio"] {
      }
    }
  }
}
