.restart {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-162deg);

  &-icon {
    font-size: 30px;
    color: #999;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
    }
  }
}
