.question {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-164deg);
  cursor: pointer;

  &-icon {
    font-size: 30px;
    color: #999;
    transition: 0.2s;

    &:hover {
      font-size: 35px;
    }
  }
}
